 [Unit]
 Description=SpeakStick
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 -u /opt/SpeakStick/main.py
 Environment="SDL_AUDIODRIVER=alsa"
 Environment="SDL_AUDIODEV=/dev/audio"
 Restart=on-failure
 RestartSec=5s

 [Install]
 WantedBy=multi-user.target